<!--
    This is the form method

-->

<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required minlength="3" #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" name="content" ngModel required #content='ngModel'></textarea>
      <mat-error *ngIf="title.invalid">Please enter a post Content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Save Post
    </button>
  </form>
</mat-card>

<!--
This method is using Two way binding

<mat-card>
    <mat-form-field>
        <input matInput type="text"[(ngModel)]="enteredTitle">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="onAddPost()">Save Post</button>
</mat-card>
    
-->
