
<mat-accordion *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            {{post.title}}
        </mat-expansion-panel-header>
            <p>{{post.content}}</p>
    </mat-expansion-panel>
</mat-accordion>

<p class="info-test mat-body-1" *ngIf="posts.length <= 0">No Posts added Yet!</p>
